@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('~@/assets/fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-display: swap;
}


@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}



@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('~@/assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-display: swap;
}



@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('~@/assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-display: swap;
}

