
// Breakpoints
$mq-xs:  576px;
$mq-sm:  768px;
$mq-md:  992px;
$mq-lg: 1200px;
$mq-xl: 1500px;
$mq-xxl: 1920px;
$mq-xxxl: 2560px;


// Colors
$color-main: hsl(180, 66%, 49%);
$color-extra: #ffdf5e;
$color-text-light: #fff;
$color-text-dark: #000;


$color-bg: #fff;



// Font weights
$fw-light: 500;
$fw-regular: 700;
$fw-semibold: 500;
$fw-bold: 700;

// Font Family
$font-family: 'Montserrat', sans-serif;

// Base Font for HTML
$base-font-size: 18px;