.list{
    &__head{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #eeeeee;
        @media (max-width: $mq-md){
            display: none;
        }
    }
    &__head-item{
        text-align: center;
    }
    &__items-wrapper{

    }
}

.counters-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 60px 0;
}